@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Pangolin&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  /* max-width: 1024px; */
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  text-align: center;
}

h1 {
  font-family: "Pangolin", cursive;
  font-size: 64px;
  margin:.5em 0 0 0;
}
.reset-contenedor {
  /* border: 1px solid black; */
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton {
  background-color: rgb(122, 133, 233);
  color: white;
  width: 50%;
  text-align: center;
  padding: 0.8em 0.2em;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 255, 0.4);
}
.boton:hover {
  background-color: rgba(0, 0, 255, 0.4);
}
.boton:active {
  border: 0;
}
header h2 {
  font-family: "Orbitron", sans-serif;
}
h2 span {
  font-weight: bold;
  color: blue;
}
.tablero {
  max-width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  width: 140px;
  height: 198px;
  margin: 0.3em;
}
.rojo {
  color: red;
}
form{
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Pangolin", cursive;
  color: rgb(192, 149, 206);
  background-color: rgba(0, 0, 0, 0.6);
  padding: .3em .1em;
  margin-bottom: .2em;
  /* width: 200px; */
}
form select{
  font-family: "Pangolin", cursive;
  padding: .1em;
  background-color: rgb(172, 90, 199);
  color: white;
  /* margin-left: .4em; */
  
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.interno {
  position: relative;
  margin: 25vh auto;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 22em;
  padding: 0.4em 0.8em;
  color: white;
  box-shadow: 0px 0px 2px 2px #888888;
}

#ver {
  display: none;
}

#ver:checked ~ #puntos {
  display: block;
}
.equis {
  text-align: right;
  padding-top: 0.2em;
}
.close {
  border: 1px solid white;
  padding: 0.1em;
  border-radius: 10px;
}
.close:hover {
  cursor: pointer;
}
.verpuntuacion {
  background-color: rgb(122, 133, 233);
  color: white;
  width: 10%;
  text-align: center;
  padding: 0.8em 0.2em;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 255, 0.4);
  margin-bottom: 0.5em;
}
.verpuntuacion:hover {
  background-color: rgba(0, 0, 255, 0.4);
}
.verpuntuacion:active {
  border: 0;
}

.interno h2 {
  text-align: center;
}
.interno h2:after {
  content: "";
  display: block;
  background-color: red;
  width: 100%;
  height: 5px;
}
table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  color: white;
}
table thead {
  background-color: rgba(155, 110, 228, 0.671);
  color: white;
}
table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid black;
}
table td {
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 1025px) {
  .tablero {
    max-width: 600px;
  }
}

@media screen and (max-width: 426px) {
  .tablero {
    margin-left: 15%;
  }
  .verpuntuacion {
    width: 25%;
}

@media screen and (max-width: 375px) {
  .tablero {
    margin-left: 12%;
  }
}
@media screen and (max-width: 375px) {
  .tablero {
    margin-left: 5%;
  }
}
